/*Menu principal*/
.title {
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    width:  114px;
    height: 47px;
    display: block;
}
.title_mobile {
    display: none;
}
.logotext {
    padding-top: 5px;
    width: 80%;
    height: 80%;
}
.logotext:hover {
    width: 100%;
    height: 100%;
}
.logeo {
    text-align: right;
    padding-right: 2%;
}
.logeo:hover {
    color: rgb(21, 49, 211);
    cursor: pointer;
}
header {
    width: 100%;
    background: rgba(0, 0, 0, .8);
    font-weight: bold;
}
#btn-mainmenu {
    display: none;
}
header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}
header label:hover {
    cursor: pointer;
    background-color: red;
}
.mainmenu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.mainmenu li {
    text-align: center;
    flex-grow: 1;
}
.mainmenu li:hover {
    background: rgba(255, 0, 0, .8);
}
.mainmenu li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

@media (max-width:800px) {
    header {
        display: flex;
    }
    .title {
        display: none;
    }
    .title_mobile {
        margin-left: 35%;
        padding-left: 1%;
        padding-right: 1%;
        text-align: center;
        width:  114px;
        height: 47px;
        display: flex;
    }
    header label {
        display: block;
    }
    .mainmenu {
        position: absolute;
        background: rgba(0, 0, 0, .8);
        width: 50%;
        margin-left: -50%;
        transition: all 0.3s;
        margin-top: 50px;
    }
    .mainmenu ul {
        flex-direction: column;
    }
    .mainmenu li { 
        border-top: 1px solid #fff;
    }
    #btn-mainmenu:checked ~ .mainmenu {
        margin: 0;
        margin-top: 50px;
    }
}
@media (max-width:450px) {
    .title_mobile {
        margin-left: 25%;
    }
}
.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 1);
}
.sticky + .content {
        padding-top: 60px;
}